/* Centrer un texte */
h1 {
	text-align: center;
}

/* Centrer un texte */
.center {
	text-align: center;
}

/* souligner un texte */
.soulign{
	TEXT-DECORATION:underline;
}

table{
	font: 14px arial, sans-serif;
}
