body {
	padding-top: 60px;
	font-size: 13px;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}

p{
	text-align: justify;
}

a{
	color:#222222;
	text-decoration:none;
	font-weight:bold;
}

.panel{
	border-radius:4px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 0px rgba(0, 0, 0, 0.1);
}

.img-rounded{
	border-radius:4px;
}

.container .jumbotron{
	border-radius:4px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 0px rgba(0, 0, 0, 0.1);
}

.header{
	background-image: url(donnes/head.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	height : 250px;
	background-color : #B0B0B0;
}

.header h1, h2, h3{
	color : #FFFFFF;
}

span.label.label-primary > a {
	color:#FFFFFF;
}

span.label.label-default > a {
	color:#FFFFFF;
}

.label {
	border-radius:4px;
}

.entreeEMail{
	display:none;
}